<div class="row">
  <div class="col-lg-8">
      <%= form_tag(:controller => "save",:action => "save_data") do %>
        <table border="1">
          <tr>
            <th>ポケモン名</th>
            <th>持ち物</th>
            <th>わざ１</th>
            <th>わざ２</th>
            <th>わざ３</th>
            <th>わざ４</th>
          </tr>
          <% for i in 1..6 do %>
            <tr>
              <td>
                <input type="text" name="pokemon[]" data-autocomplete="save/autocomplete_pokemon_name">
              </td>
              <td>
                <input type="text" name="item[]" data-autocomplete="save/autocomplete_item_name">
              </td>
              <% for i in 1..4 do %>
                <td>
                  <input type="text" name="move[]" data-autocomplete="save/autocomplete_move_name">
                </td>
              <% end %>
            </tr>
          <% end %>
          <button type="submit" class="btn btn-material-orange">Submit</button>
        </table>
      <% end %>
  </div>
</div>   