<div class="content-main">
  <div class="cell">
    <div class="box box-radius box-shadowOn">
      <p><img src="/images/party_register.png" width="256" height="256"></p>
    </div>
  </div>

  <div class="cell">
    <div class="box box-radius box-shadowOn">
      <p><img src="/images/analysis.jpg" width="256" height="256"></p>
    </div>
  </div>

  <div class="cell">
    <div class="box box-radius box-shadowOn">
      <img src="/images/rate_data.png" width="256" height="256">
    </div>
  </div>

  <div class="cell">
    <div class="box box-radius box-shadowOn">
      <img src="/images/battle_data.png" width="256" height="256">
    </div>
  </div>
</div>
