<%= link_to "データ格納",url_for(:controller => "save",:action => "save_data") %>

<div class="row">
  <div class="col-lg-8">
    <h1>ポケアナライズ</h1>
    <p>ポケモン対戦で相手のパーティの持ち物と技を予測します</p>
  </div>
</div>


<div class="row">
  <div class="col-lg-8">
      <%= form_tag(:controller => "page",:action => "title") do %>
        <% for i in 0..5 do %>
          <input type="text" name="name[]" data-autocomplete="page/autocomplete_pokemon_name">
        <% end %>
        <button type="submit" class="btn btn-material-orange">Submit</button>
      <% end %>
  </div>
</div>