<style type="text/css">
  h1{
    -webkit-animation-duration:3s;
    -webkit-animation-name:slidein;
  }

  @-webkit-keyframes slidein{
    from{
      margin-left:100%;
      width: 300%;
    }

    to{
      margin-left:400px;
      width:100px;
    }
  }
</style>

<% if nil %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h1>ポケモン対戦支援サイト（仮）</h1>
  </div>
  <div class="panel-body">ポケモン対戦で相手のパーティの持ち物と技を予測するよ</div>
</div>
<% end %>
<!--<h1>ポケモン対戦支援サイト（仮）</h1>-->
<div class="type-textbound">
  <span class="textbound1">Batt</span>
  <span class="textbound2">Poke</span>
  <span class="textbound3">tools</span>
</div>
